<p><%= link_to portifolio_item.title, portifolio_show_path(portifolio_item)%></p>
<p><%=portifolio_item.subtitle%></p>
<p><%=portifolio_item.body%></p>
<%= image_tag portifolio_item.thumb_image unless portifolio_item.thumb_image.nil? %>
<%= link_to "Edit", edit_portifolio_path(portifolio_item)%>
<%= link_to "Destroy this Portfolio", portifolio_delete_path(portifolio_item), method: :delete, data: { "turbo-method": :delete , turbo_confirm: 'Are you sure?' }%>