<h1>Create a New Portifolio Item </h1>



<%= form_with(model: @portfolio_item) do |form| %>
  <div>
    <%= form.label :Title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :Subtitle, style: "display: block" %>
    <%= form.text_area :subtitle %>
  </div>

    <div>
    <%= form.label :Body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
