<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="keywords" content="<%=@seo_keywords %>"/>

    <%= javascript_include_tag "turbo", type: "module" %>

    <%= stylesheet_link_tag "portifolios", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>




  <%=login_helper%>
    <%= yield %>

    <%= render "/shared/navbar" , location: "top"%>
    <%=source_helper%>
  </body>
</html>


